# .NET Core
bin/
obj/
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/*

# Others
*.log
*.tlog
*.vspscc
*.vssscc
TestResults/
*.ncrunch*
.nunit/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
